@media (max-width: 1250px) {
   
    .cabecalho{
        padding: 10% 1%;
        width: 100%;
    

    }
    .cabecalho__menu {
        justify-content: center;
        

    }
    .cabecalho__menu__link{
        
        font-size: 1.4rem;
        font-weight: 600;
        
        
        
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__conteudo__titulo{
        font-size: 2.3rem;
        
    }

    .apresentacao__conteudo__texto{
        font-size: 1.4rem;
        
    }
    .apresentacao__imagem{
        width: 100%;
        margin-top: 0;
    }
}