@media (max-width: 1250px) {
   
    .cabecalho{
        padding: 10% 1%;
        width: 100%;
    

    }
    .cabecalho__menu {
        justify-content: center;
        

    }
    .logo {
        width: 2.12rem;
    }
    .cabecalho__menu__link{
        
        font-size: 0.9rem;
        font-weight: 600;
        
        
        
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__conteudo__titulo{
        font-size: 1.8rem;
        
    }

    .apresentacao__conteudo__texto{
        font-size: 1rem;
        
    }
    .apresentacao__imagem{
        width: 100%;
        
    }
    .curriculo {
        display: flex;
        align-items: center;
        padding: 2% 9% 2% 15%;
    
        
    }
}